Repository BRAVO68WEB/b68, changes with the labels that .github/labeler.yml gives for each.
All labels: api, cli, discord, config-store, app, github-actions, github-meta, dependencies, go, node, readme

.github/labeler.yml:

api:
- packages/api/**/*

cli:
- packages/cli/**/*

discord:
- packages/bot/**/*

config-store:
- packages/config-store/**/*

app:
- packages/app/**/*

github-actions:
- .github/workflows/*

github-meta:
- .github/**/*

dependencies:
- package.json
- yarn.lock
- packages/*/package.json
- packages/*/go.mod

go:
- packages/config-store/**/*

node:
- packages/api/**/*
- packages/cli/**/*
- packages/bot/**/*
- packages/b68-app/**/*

readme:
- README.md

Added b68_admin as a submodule
  .gitmodules
Labels: none

feat: added app login callbacks
  packages/api/auth/callback.ts
  packages/api/auth/signin.ts
  packages/api/controllers/auth.controller.ts
  packages/api/routes/auth.routes.ts
  packages/app/.eslintrc.json
  packages/app/.gitignore
  packages/app/App.tsx
  packages/app/app.json
  packages/app/assets/adaptive-icon.png
  packages/app/assets/favicon.png
  packages/app/assets/icon.png
  packages/app/assets/splash.png
  packages/app/babel.config.js
  packages/app/package.json
  packages/app/tsconfig.json
Labels: api, app, dependencies, node

fix: docker file
  packages/api/Dockerfile
Labels: api, node

...
  packages/api/tsconfig.json
Labels: api, node

patch: Fixes APP Auth
  packages/api/auth/callback.ts
  packages/api/auth/signin.ts
  packages/api/controllers/auth.controller.ts
  packages/api/routes/auth.routes.ts
  yarn.lock
Labels: api, dependencies, node

Added Stuff as a submodule
  .gitmodules
  packages/api/.gitignore
  packages/bot/.gitignore
  packages/cli/.gitignore
Labels: api, cli, discord, node

...
  .github/actions/setup/action.yml
  .github/workflows/build-cli.yaml
Labels: github-actions, github-meta

...
  .github/actions/setup/action.yml
  .github/workflows/build-cli.yaml
Labels: github-actions, github-meta

...
  .github/actions/setup/action.yml
Labels: github-meta

github meta
  .github/actions/setup/action.yml
  .github/workflows/build-api.yaml
  .github/workflows/build-cli.yaml
  .github/workflows/build-config-store.yaml
  .github/workflows/build-discord-bot.yaml
  .github/workflows/build-image.yaml
  .github/workflows/deploy_api.yaml
  .github/workflows/deploy_bot.yaml
Labels: github-actions, github-meta

whole: sync submodules
  .github/dependabot.yml
  .github/workflows/eslint.yaml
  yarn.lock
Labels: github-actions, github-meta, dependencies
